html {
    background: #3db3f2;
    font-family: Arial, helvetica, sans-serif;
    font-size: 16px;
}

h1{
    color: white;
    border-bottom: 10px solid red;
    width: 100%;
}

.btn{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.btn:hover{
    color: blue;
    cursor: pointer;
    background-color: rgb(235, 26, 26);
}

.first{
    color: white;
    font-style: italic;
    font-size: 1em;
    background-color: darkgreen;
    border-bottom: 1px dotted blue;
}

.box2{
    font-size: 1em;
}

.second{
    color: white;
    font-size: 1.2rem;
    background-color: lightsalmon;
    border-bottom: 1px dotted darksalmon;
}

.boxes2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid blue;
}
